.main{
  text-align: center;
  margin-top: 10%;
  font-size: 25px;
  color: white;
  /* background-color:gray; */
  background-color:gray;
  background-image : url("./sakura.gif");
  background-size: cover;
  width: 80%;
  /* height: 1000px; */
  margin-left: 10%;
  /* cursor : url("./48813.jpg") */
}

.kakikomi_main{
  font-size: 50px;
  /* width: 1000px; */
  width: 80%;
}

.kakikomi{
  font-size: 50px;
  /* width: 1200px; */
}

#cursor{
  position: fixed;

  /*丸の大きさと色の指定*/
  background: #fff;
  border-radius:10px;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;/*真ん中にくるようにマイナスマージンで調整*/

  z-index: 2;/*一番手前に来るように*/
  pointer-events: none;/*クリックできなくなるのを防ぐため。noneで対応*/
  opacity: 0;
}
